/* .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
   */
  .filter {
    margin-bottom: 10px;
  }
  
  .filter label {
    margin-right: 10px;
  }
  
  .chart {
    width: 80%;
  }
  