.getstarted{
    height: 50vh;
    width: 100%;
    background-color: #27374D;
    margin-top: 6vmin;
    display: flex;
    justify-content: space-between;
    color: rgb(224, 232, 142);
    padding: 5vmin;
}

.getstarted .getstarted-left{
    flex: 1;
    font-size: 2.5rem;
    line-height: 3rem;
    margin-top: 9vmin;
    gap: 3vmin;
}

.getstarted .getstarted-left h4{
    margin-bottom: 4vmin;
}

.getstarted .getstarted-left div{
    display: flex;
    align-items: center;
    height: 4vmin;
    color: rgb(181, 181, 174);
}

.getstarted .getstarted-left div:hover{
    color: white;
}

.getstarted .getstarted-right{
    flex: 1;
    text-align: end;
    font-size: 7rem;
    line-height: 7.3rem;
    display: flex;
    position:relative;
    align-items: end;
    justify-content: end;
    right: 0;

}